body{
    width:80%;
    margin:20px auto;
}
h1{
    color:tomato;
    text-align:center;
}
table {
    width: 100%;
}
button,input {
    width: 100%;
    font-size: 150%;
   
}
input{
     text-align: center;
}
.ac {
    color: red;
}